<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=devicewidth,initial-scale=1" > -->
    <meta name="google-site-verification" content="66_jaGlZ0Ck4iV7MjASOnIVFXMY2BomR-DAw43cvSV4" />
    <title>防衛ヒーロー物語 【攻略】　最強ランキング</title>
    <P>2022/1/31更新の最強キャラランキング
    </P>
    <link href="rel=stylesheet" href="https://nicolas-cusan.github.io/destyle.css/">
      <script src="jquery-3.6.0.min.js">         </script>
      <script>
        (function(d) {
          var config = {
            kitId: 'fpo2rwj',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);

        /* ポップアップ広告 */

         $(function() {
        var popup = $('#popup');
        var flag = true; // （コードは書いていないけど）ローカルストレージにでも保存しておけばいい
        $(window).scroll(function() {
            if (flag /* && $(this).scrollTop() > 300 */) {
                popup.fadeIn();
            } else {
                popup.hide();
            }
        });
        $('button').click(function() {
            flag = false; // （コードは書いていないけど）ローカルストレージにでも保存しておけばいい
            $('#popup').hide();
        });
        });

        
      </script>
    <link rel="stylesheet" href="style.css">
    <script data-ad-client="ca-pub-7699202506197983" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name="google-site-verification" content="EPdkz_L4aTYsc7jcuDIiEi3H7HsN5nEVCy39oKCT6tY" />
</head>
<body>
        <div id="popup">
          <div class="popup-content">
            <button></button>
            <a href="https://px.a8.net/svt/ejp?a8mat=3N3RI5+ATDIEQ+CO4+15SMO1" rel="nofollow">
            <img border="0" width="500" height="500" alt="" src="https://www23.a8.net/svt/bgt?aid=220205309654&wid=001&eno=01&mid=s00000001642007020000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3N3RI5+ATDIEQ+CO4+15SMO1" alt="">
            
        </div>
      </div> 
      <meta name="google-site-verification" content="EPdkz_L4aTYsc7jcuDIiEi3H7HsN5nEVCy39oKCT6tY" />
           
    <header>
        <div class="header">
          <div class="color">
            <h1>防衛ヒーロー物語<br>最強ランキング</h1>
          </div>
        </div>
    </header>
    <div class="container">
     <!--  <aside> 
       
        <div>
          <a href="https://px.a8.net/svt/ejp?a8mat=3HOVXW+4ZSXGY+1WP2+6DRLT" rel="nofollow">
            <img border="0" width="88" height="88" alt="" src="https://www20.a8.net/svt/bgt?aid=211113140302&wid=001&eno=01&mid=s00000008903001072000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3HOVXW+4ZSXGY+1WP2+6DRLT" alt="">
        </div>
        <div>
          <a href="https://px.a8.net/svt/ejp?a8mat=3HOVXZ+NTCZ6+4UP6+62MDD" rel="nofollow">
            <img border="0" width="160" height="600" alt="" src="https://www27.a8.net/svt/bgt?aid=211113143040&wid=001&eno=01&mid=s00000022641001020000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3HOVXZ+NTCZ6+4UP6+62MDD" alt="">
        </div>
        <div>
          <a href="https://px.a8.net/svt/ejp?a8mat=3HOVXW+4ZSXGY+1WP2+6FHC1" rel="nofollow">
            <img border="0" width="180" height="180" alt="" src="https://www20.a8.net/svt/bgt?aid=211113140302&wid=001&eno=01&mid=s00000008903001080000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3HOVXW+4ZSXGY+1WP2+6FHC1" alt="">
        </div>
        <div><a href="https://px.a8.net/svt/ejp?a8mat=3HOVXW+4ZSXGY+1WP2+6FHC1" rel="nofollow">
          <img border="0" width="180" height="180" alt="" src="https://www20.a8.net/svt/bgt?aid=211113140302&wid=001&eno=01&mid=s00000008903001080000&mc=1"></a>
          <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3HOVXW+4ZSXGY+1WP2+6FHC1" alt=""></div>
         <div>
          <a href="https://px.a8.net/svt/ejp?a8mat=3N23ZP+CBJYGI+4F8I+61RI9" rel="nofollow">
            <img border="0" width="180" height="100" alt="" src="https://www25.a8.net/svt/bgt?aid=220128181745&wid=001&eno=01&mid=s00000020637001016000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=3N23ZP+CBJYGI+4F8I+61RI9" alt="">
        </div>
        <div></div>
      </aside>-->
        <main>
          <!-- <a href="https://px.a8.net/svt/ejp?a8mat=3HOVXZ+13W2B6+4AQ0+5Z6WX" rel="nofollow">
            <img border="0" width="468" height="60" alt="" src="https://www28.a8.net/svt/bgt?aid=211113143067&wid=001&eno=01&mid=s00000020052001004000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3HOVXZ+13W2B6+4AQ0+5Z6WX" alt="">
            <div class="click">
              <a href="https://px.a8.net/svt/ejp?a8mat=3N23ZP+CCQTO2+4286+62MDD" rel="nofollow">
                <img border="0" width="300" height="250" alt="" src="https://www20.a8.net/svt/bgt?aid=220128181747&wid=001&eno=01&mid=s00000018951001020000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3N23ZP+CCQTO2+4286+62MDD" alt="">
                <a href="https://px.a8.net/svt/ejp?a8mat=3N23ZP+CCQTO2+4286+62MDD" rel="nofollow">
                  <img border="0" width="300" height="250" alt="" src="https://www20.a8.net/svt/bgt?aid=220128181747&wid=001&eno=01&mid=s00000018951001020000&mc=1"></a>
                  <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3N23ZP+CCQTO2+4286+62MDD" alt="">
                  <a href="https://px.a8.net/svt/ejp?a8mat=3N3RI5+ATDIEQ+CO4+15SMO1" rel="nofollow">
                    <img border="0" width="336" height="280" alt="" src="https://www27.a8.net/svt/bgt?aid=220205309654&wid=001&eno=01&mid=s00000001642007020000&mc=1"></a>
                    <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3N3RI5+ATDIEQ+CO4+15SMO1" alt="">
                    <a href="https://px.a8.net/svt/ejp?a8mat=3N3RI5+ATDIEQ+CO4+15SMO1" rel="nofollow">
                      <img border="0" width="336" height="280" alt="" src="https://www27.a8.net/svt/bgt?aid=220205309654&wid=001&eno=01&mid=s00000001642007020000&mc=1"></a>
                      <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3N3RI5+ATDIEQ+CO4+15SMO1" alt="">
            </div>  -->
          <p class="article-desc">
            ※キャラのランキングは戦闘力、スキル、特性やクエストでの<br>汎用性等を総合的に加味して判断しております。

          </p>
        
            <h2>最強キャラランキング</h2>
          <div class="table">
            <table  frame="border" border="1">
                <tr class="ss">
                    <th>SS</th>
                    <td><img src="ダーツ・タワー.webp"><p>ダーツ・タワー</p></td>
                    <td><img src="メリル.webp"><p>メリル</p></td>
                </tr>
                <tr class="sp">
                    <th>S+</th>
                    <td><img src="ロケット・タワー.webp"><p>ロケット・タワー</p></td>
                    <td><img src="ゼウス・タワー.webp"><p>ゼウス・タワー</p></td>
                    <td><img src="凍てつく吹雪.webp"><p>凍てつく吹雪</p></td>
                    <td><img src="赤髪のセラス.webp"><p>赤髪のセラス</p></td>
                </tr>
                <tr class="s">
                    <td rowspan="2">S</td>
                    <td><img src="クロスボウ・タワー.webp"><p>クロスボウ・タワー</p></td></td>
                    <td><img src="召喚士・タワー.webp"><p>召喚士・タワー</p></td></td>
                    <td><img src="スナイパー・タワー.webp"><p>スナイパー・タワー</p></td></td>
                    <td><img src="マナの卵.webp"><p>マナの卵</p></td></td>
                    <td><img src="トーテムの力.webp"><p>トーテムの力</p></td></td>
                    <td><img src="オベリスク.webp"><p>オベリスクの卵</p></td>
                    
                </tr>
                <tr class="s">
                    
                    
                </tr>
                <tr class="ap">
                    <td >A+</td>
                    <td><img src="アーチャー・タワー.webp"><p>アーチャー・タワー</p></td>
                    <td><img src="デモンズ・ソウル.webp"><p>デモンズ・ソウル</p></td>
                    <td><img src="マナ・タワー.webp"><p>マナ・タワー</p></td>
                    <td><img src="氷結.webp"><p>氷結</p></td>
                    <td><img src="時空のガーディアン.webp"><p>時空のガーディアン</p></td>
                    <td><img src="猛毒の杖.webp"><p>猛毒の杖</p></td>
                    <td><img src="霜ひげの巨人.webp"><p>霜ひげの巨人</p></td>
                </tr>
              <!--   <tr class="ap">
                    
                    <td><img src="c_0827.png"><p>超蟲魔・ベルゼブブ</p></td>
                    <td><img src="c_0829.png"><p>超幻魔・ダンダリオン</p></td>
                  
                </tr> -->
                <tr class="a">
                    <td>A</td>
                     <td><img src="ザジ.webp"><p>ザジ</p></td>
                    <td><img src="ルービィ・スマック.webp"><p>ルービィ・スマック</p></td>
                    <td><img src="エレンディア.webp"><p>エレンディラ</p></td>
                    <td><img src="マイン.webp"><p>マイン</p></td>
                    <td><img src="大砲・タワー.webp"><p>タイホウ・タワー</p></td>
                    <td><img src="エルフレンジャー.webp"><p>エルフレンジャー</p></td>
                </tr>
                <!-- <tr class="a">
                    
                    <td><img src="c_0593.png"><p>夢月のネムル・サメル</p></td>
                    <td><img src="c_0654.png"><p>七海の暴君神ポセイドン</p></td>
                </tr> -->
                <tr class="am">
                    <td>A-</td>
                    <td><img src="ポイズン・タワー.webp"><p>ポイズン・タワー</p></td>
                    <td><img src="スノーボール・タワー.webp"><p>スノーボール・タワー</p></td>
                    <td><img src="ボーラ・タワー.webp"><p>ボーラー・タワー</p></td>
                    <td><img src="スロウ・タワー.webp"><p>スロウ・タワー</p></td>                    
                    <td><img src="衛兵召喚.webp"><p>御兵召喚</p></td>
                    <td><img src="戦場の雄叫び.webp"><p>戦場の雄叫び</p></td></td>
                    <td><img src="さみだれの矢.webp"><p>さみだれの矢</p></td>
                    <td><img src="ブラックジャック.webp"><p>ブラックジャック</p></td>
                </tr>
                <tr class="b">
                  <td rowspan="3">B</td>
                  <td><img src="イルミナス・タワー.webp"><p>イルミナス・タワー</p></td>
                  <td><img src="ドクターキリコ・タワー.webp"><p>ドクターキリコ・タワー</p></td>
                  <td><img src="レイジー・タワー.webp"><p>レイジー・タワー</p></td>
                  <td><img src="ピノコ・タワー.webp"><p>ピノコ・タワー</p></td>
                  <td><img src="ジャベリン・タワー.webp"><p>ジャベリン・タワー</p></td>
                  <td><img src="ストーム・タワー.webp"><p>ストーム・タワー</p></td>
                  <td><img src="サンダーストーム.webp"><p>サンダーストーム</p></td>
                  <td><img src="カボチャ爆弾.webp"><p>カボチャ爆弾</p></td>
                  
                  
                </tr>
                <tr class="b">
                  <td><img src="メテオストライク.webp"><p>メテオストライク</p></td>
                  <td><img src="神の鉄槌.webp"><p>神の鉄槌</p></td>
                  <td><img src="グラビティーホール.webp"><p>グラビティホール</p></td>
                  <td><img src="猛毒の地雷.webp"><p>猛毒の地雷</p></td>
                  <td><img src="ニコラス.webp"><p>ニコラス</p></td>
                  <td><img src="レオノフ.webp"><p>レオノフ</p></td>
                  <td><img src="炎斬のスルト.webp"><p>炎斬のスルト</p></td>
                  <td><img src="無限のベヒモス.webp"><p>無限のベヒモス</p></td>
                  
                </tr>
                <tr class="b">
                  <td><img src="千槍のドレイク.webp"><p>千槍のドレイク</p></td>
                  <td><img src="疾風のクサナギ.webp"><p>疾風のクサナギ</p></td>
                  <td><img src="グレイ.webp"><p>グレイ</p></td>
                  

                </tr>
                <tr class="c">
                    <td rowspan="4">C</td>
                    <td><img src="ヴェノム・タワー.webp"><p>ヴェノム・タワー</p> </td>
                    <td><img src="テクノ・タワー.webp"><p>テクノ・タワー</p> </td>
                    <td><img src="パイレーツ・タワー.webp"><p>パイレーツ・タワー</p></td>
                    <td><img src="ロングボウ・タワー.webp"><p>ロングボウ・タワー</p></td>
                    <td><img src="ムーンライト・タワー.webp"><p>ムーンライト・タワー</p></td>
                    <td><img src="アクア・タワー.webp"><p>アクア・タワー</p></td>
                    <td><img src="ガトリング・タワー.webp"><p>ガトリング・タワー</p></td>
                    <td><img src="ボルケーノ.webp"><p>ボルケーノ</p></td>
                  
                </tr>
                <tr class="c">
                  <td><img src="スカウト・タワー.webp"><p>スカウト・タワー</p></td>
                  <td><img src="ホーリー・タワー.webp"><p>ホーリー・タワー</p></td>
                  <td><img src="電光石火のガチョウ.webp"><p>電光石火のガチョウ</p></td>
                  <td><img src="トラバサミ.webp"><p>トラバサミ</p></td>
                  <td><img src="トマホーク・ミサイル.webp"><p>トマホーク・ミサイル</p></td>
                  <td><img src="怒りのムース.webp"><p>怒りのムース</p></td>
                  <td><img src="ミニマムの呪い.webp"><p>ミニマムの呪い</p></td>
                  <td><img src="エレクトリック・カスケード.webp"><p>エレクトリック・カスケード</p></td>
                  
                </tr>  
                <tr class="c">
                  <td><img src="スペースビーム.webp"><p>スペースビーム</p></td>
                  <td><img src="巨大爆弾.webp"><p>巨大爆弾</p></td>
                  <td><img src="メテオフレア.webp"><p>メテオフレア</p></td>
                  <td><img src="ゼウスの怒り.webp"><p>ゼウスの怒り</p></td>
                  <td><img src="グリーンドラゴン.webp"><p>グリーンドラゴン</p></td>
                  <td><img src="レッドドラゴン.webp"><p>レッドドラゴン</p></td>
                  <td><img src="ブラックドラゴン.webp"><p>ブラックドラゴン</p></td>
                  <td><img src="ミリオンズ.webp"><p>ミリオンズ</p></td>
                  
                </tr>
                <tr class="c">
                  
                  <td><img src="オラクル.webp"><p>オラクル</p></td>
                  <td><img src="ライジン.webp"><p>ライジン</p></td>
                  <td><img src="レガート.webp"><p>レガート</p></td>
                  <td><img src="ラズロ.webp"><p>ラズロ</p></td>
                  <td><img src="ダンディー.webp"><p>ダンディー</p></td>
                </tr>
            </table>
          </div>
          <!-- <div id="app">
            <h2>コメント</h2>
            <input type="text" v-model="message">
            <button v-on:click="submit">投稿</button>
            <p v-if="ok">{{message}}</p>

          </div> -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->
          
        </main>
        
        <!-- <aside>
          <div><a href="https://px.a8.net/svt/ejp?a8mat=3N3RI5+ATDIEQ+CO4+15QWXT" rel="nofollow">
            <img border="0" width="120" height="600" alt="" src="https://www23.a8.net/svt/bgt?aid=220205309654&wid=001&eno=01&mid=s00000001642007012000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3N3RI5+ATDIEQ+CO4+15QWXT" alt=""></div> 
          <div><a href="https://px.a8.net/svt/ejp?a8mat=3HOVXW+4ZSXGY+1WP2+6FHC1" rel="nofollow">
            <img border="0" width="180" height="180" alt="" src="https://www20.a8.net/svt/bgt?aid=211113140302&wid=001&eno=01&mid=s00000008903001080000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3HOVXW+4ZSXGY+1WP2+6FHC1" alt=""></div>
          <div><a href="https://px.a8.net/svt/ejp?a8mat=3N3RI5+ATDIEQ+CO4+15QWXT" rel="nofollow">
            <img border="0" width="120" height="600" alt="" src="https://www23.a8.net/svt/bgt?aid=220205309654&wid=001&eno=01&mid=s00000001642007012000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3N3RI5+ATDIEQ+CO4+15QWXT" alt=""></div>
          <div>
            <a href="https://rpx.a8.net/svt/ejp?a8mat=3HOVXW+4Z7HV6+2HOM+61JSH&rakuten=y&a8ejpredirect=http%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2F0ea62065.34400275.0ea62066.204f04c0%2Fa21111384274_3HOVXW_4Z7HV6_2HOM_61JSH%3Fpc%3Dhttp%253A%252F%252Fwww.rakuten.co.jp%252F%26m%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252F" rel="nofollow">
              <img src="http://hbb.afl.rakuten.co.jp/hsb/0eb4bbd6.e4f5b3a4.0eb4bbaa.95151395/" border="0"></a>
              <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3HOVXW+4Z7HV6+2HOM+61JSH" alt="">
          </div> 
        </aside> -->
        
     </div>
    <footer>
      <!-- <a href="https://px.a8.net/svt/ejp?a8mat=3HOVXW+4YM29E+0K+10VL7L" rel="nofollow">
        <img border="0" width="476" height="120" alt="" src="https://www26.a8.net/svt/bgt?aid=211113140300&wid=001&eno=01&mid=s00000000002006194000&mc=1"></a>
        <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3HOVXW+4YM29E+0K+10VL7L" alt=""> -->
      <h3>修正案はこちらのツイッターまで</h3><a rel="noopener" href="https://twitter.com/@qtorzPxKhfLnpOQ" target="_blank" class="aioseop-link">にゃー</a>
    </footer>
    
</body>
</html>

